web/__pycache__/
web/app/models/schema/__pycache__/user_schema.cpython-312.pyc
web/app/service/__pycache__/__init__.cpython-312.pyc
web/app/service/__pycache__/role_service.cpython-312.pyc
web/app/service/__pycache__/token_service.cpython-312.pyc
web/app/service/__pycache__/user_service.cpython-312.pyc
web/app/utils/__pycache__/response.cpython-312.pyc
web/app/models/schema/__pycache__/token_schama.cpython-312.pyc
web/app/utils/__pycache__/response.cpython-312.pyc
web/app/utils/__pycache__/response.cpython-312.pyc
web/app/models/__pycache__/user.cpython-312.pyc
web/app/models/__pycache__/token.cpython-312.pyc
web/app/models/__pycache__/user.cpython-312.pyc
web/app/models/__pycache__/role.cpython-312.pyc
web/app/models/__pycache__/user.cpython-312.pyc
web/app/api/__pycache__/routers.cpython-312.pyc
web/app/api/__pycache__/routers_user.cpython-312.pyc
web/app/api/__pycache__/routers.cpython-312.pyc
web/app/api/__pycache__/routers_product.cpython-312.pyc
web/app/api/__pycache__/router_product.cpython-312.pyc
web/app/api/__pycache__/routers.cpython-312.pyc
web/app/api/__pycache__/__init__.cpython-312.pyc
web/app/__pycache__/auth.cpython-312.pyc
web/app/__pycache__/db.cpython-312.pyc
web/__pycache__/exceptions.cpython-312.pyc
web/__pycache__/exceptions.cpython-312.pyc
web/app/utils/__pycache__/response.cpython-312.pyc
web/app/models/__pycache__/user.cpython-312.pyc
web/app/api/__pycache__/routers.cpython-312.pyc
web/app/utils/__pycache__/response.cpython-312.pyc
web/venv/
web/__pycache__